body {
    background-image: url("../images/city-fantasy-art-final-fantasy-final-fantasy-xv-wallpaper-preview.jpg");
    background-size: cover;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.wrapper{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    margin: auto;
    max-width: 60%;
}

h1, a{
    display: block;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    color: antiquewhite;
}

a{
    text-decoration: none;
    border: 1px solid #C5D8A4;
    
}

.hex{
    width: 300px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    background-color: aqua;
    border: 1px solid black;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

a{
    width:105%;
    height:40px;
    background:#005A87;
    position:absolute;
    margin:auto;
    left:-2.5%;top:0;bottom:0;
    z-index:99999999999;
    font-family:Arial;
    font-size:14px;
    color:#fff;
    line-height:40px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
  }